body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #301B28;
    color: #DDC5A2;;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-area {
    display: block;
    width: 700px;
    height: 200px;
    margin: 30px;
}

.keyboard {
    width: 100%;
    background: #301B28;
    user-select: none;
    transition: all 0.2s;
}

.keyboard__keys {
    text-align: center;
    padding: 0 40px;
}

.keyboard__key {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    position: relative;
    padding: 0;
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: solid 1px #cf9b4d;
    background: rgba(182, 69, 44, 0.6);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.keyboard__key:hover {
    background: #cf9b4d;
}

.keyboard__key:active {
    background: #DDC5A2;
}

.active {
    background: #DDC5A2;
}

.keyboard__key_wide {
 width: 12%;
 max-width: 180px;
}

.keyboard__key_extra-wide {
 width: 36%;
 max-width: 666px;
}

.keyboard__key_activatable::after {
 content: '';
 top: 10px;
 right: 10px;
 position: absolute;
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background: rgba(0, 0, 0, 0.4);
}

.keyboard__key_active::after {
    background: #08ff00;
}



